@model HomeVM
@foreach (var c in Model.AllCategories)
{
    <p><a asp-controller="Pies" asp-action="PieList" asp-route-categoryId="@c.CategoryId">@c.CategoryName</a></p>
}
<a asp-controller="Pies" asp-action="PieList" asp-route-category="0">All pies</a>